@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Cinzel', serif;
	color: black;
	font-weight: bold;
}

:root {
	--page-color: #e6e6e6;
	--main-content-background-color: #f9f9f9;
	--accent-color: #4298c3;
}

body {
	background-color: var(--page-color);
}

/* SMALL SCREEN */
@media (max-width: 960px){
	.navigation-bar {
		display: none!important;
	}
	nav > .logo > h1 {
		width: 100%!important;
		text-align: center!important;
	}
	.wrapper > .content > .side-content > .amenities > li > img {
		max-height: 60px!important;
		max-width: 60px!important;
	}
}

/* LARGE SCREEN */
@media (min-width: 961px){
	.navigation-dropdown {
		display: none!important;
	}
	nav {
		border-bottom: 2px solid var(--accent-color)!important;
		border-radius: 25px!important;
	}
	nav > .logo > h1 {
		font-size: 2.8em!important;
	}
}

.wrapper {
	margin: 0 auto;
	padding: 0;
	max-width: 1920px;
	background-color: var(--main-content-background-color);
	border-radius: 25px 25px 25px 25px;
}

nav {
	border-top: 2px solid var(--accent-color);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
	nav > .logo {
		display: flex;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
	}
		nav > .logo > img {
			padding: 20px 20px!important;
			max-height: 75px;
		}
		nav > .logo > h1 {
			font-weight: bolder;
			font-size: 2.15em;
		}

.navigation-bar {
	display: grid;
	grid-template-columns: auto auto;
}
	.navigation-bar > .links {
		display: flex;
		height: 100%;
		justify-content: flex-end;
		align-items: center;
		padding-right: 10px;
	}
		.navigation-bar > .links > a {
			text-decoration: none;
			margin: 10px;
			padding: 10px 15px;
			border-radius: 15px;
			border: 2px solid var(--accent-color);
		}
		.navigation-bar > .links > a:hover {
			background-color: var(--accent-color);
			filter: brightness(90%);
			border-color: black;
		}
		.navigation-bar > .links > .active {
			background-color: var(--accent-color);
			border-color: black;
			text-decoration: underline;
		}

.navigation-dropdown > .dropdown-links {
	display: grid;
	grid-template-columns: 1fr;
	border-top: 2px solid black;
}
	.navigation-dropdown > .dropdown-links > a {
		text-decoration: none;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		background-color: rgba(66, 152, 195, .5);
		border-bottom: 2px solid black;
		padding: 25px 0;
	}
	.navigation-dropdown > .dropdown-links > a:hover {
		background-color: rgba(66, 152, 195, .3);
	}
	.navigation-dropdown > .dropdown-links > .active {
		background-color: var(--accent-color);
		text-decoration: underline;
	}

.wrapper > .main-image {
	margin: 10px 0;
	width: 100%;
}

.wrapper > .content {
	display: grid;
	grid-template-columns: auto 1fr;
}
	.wrapper > .content > .side-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid var(--accent-color);
		border-left: none;
		border-radius: 25px;
	}
		.wrapper > .content > .side-content > .side-content-title {
			padding-top: 25px;
			padding-bottom: 25px;
			font-size: 1.2em;
			text-decoration: underline;
			text-align: center;
		}
		.wrapper > .content > .side-content > .amenities {
			list-style: none;
			display: flex;
			height: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			margin: 0;
			padding: 0;
		}
			.wrapper > .content > .side-content > .amenities > li {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 10px;
				width: 100%;
			}
				.wrapper > .content > .side-content > .amenities > li::after {
					content: "";
					width: 100%;
					height: 2px;
					background-color: var(--accent-color);
				}
				.wrapper > .content > .side-content > .amenities > li:last-child::after {
					display: none;
				}
					.wrapper > .content > .side-content > .amenities > li > img {
						max-width: 75px;
						max-height: 75px;
					}
					.wrapper > .content > .side-content > .amenities > li > span {
						display: block;
						margin: 10px 0;
					}
	.wrapper > .content > .main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
		.wrapper > .content > .main-content > p {
			text-indent: 2em;
			font-weight: 400;
			letter-spacing: .1em;
			font-family: 'Roboto', sans-serif;
		}
		.wrapper > .content > .main-content  > a {
			color: blue;
			font-weight: 400;
			letter-spacing: .1em;
			font-family: 'Roboto', sans-serif;
		}
		.wrapper > .content > .main-content > .p-title {
			text-align: center;
			font-size: 1.7em;
			text-decoration: underline;
			text-indent: 0;
		}

.wrapper > .footer {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	border-radius: 25px;
	margin-top: 10px;
}
	.wrapper > .footer > .footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		width: 100%;
		list-style: none;
	}
		.wrapper > .footer > .footer-links > li {
			margin: 10px;
		}
			.wrapper > .footer > .footer-links > li > img {
				max-width: 60px;
				max-height: 60px;
			}
	.wrapper > .footer > .contact {
		text-align: center;
		font-size: 1.2em;
	}
