@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
	font-family: 'Cinzel', serif;
	color: black;
	font-weight: bold;
}

:root {
	--page-color: #e6e6e6;
	--main-content-background-color: #f9f9f9;
	--accent-color: #4298c3;
}

body {
	background-color: var(--page-color);
}

/* SMALL SCREEN */
@media (max-width: 900px){
	.navigation-bar {
		display: none!important;
	}

	nav > .logo > h1 {
		width: 100%!important;
		text-align: center!important;
	}
}

/* LARGE SCREEN */
@media (min-width: 901px){
	.navigation-dropdown {
		display: none!important;
	}
	nav {
		border-bottom: 2px solid var(--accent-color)!important;
		border-radius: 25px!important;
	}
	nav > .logo > h1 {
		font-size: 2.8em!important;
	}

}

.wrapper {
	margin: 0 auto;
	padding: 0;
	max-width: 1920px;
	background-color: var(--main-content-background-color);
	border-radius: 25px 25px 25px 25px;
}

nav {
	border-top: 2px solid var(--accent-color);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
	nav > .logo {
		display: flex;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
	}
		nav > .logo > img {
			padding: 20px 20px!important;
			max-height: 75px;
		}
		nav > .logo > h1 {
			font-weight: bolder;
			font-size: 2.15em;
		}

.navigation-bar {
	display: grid;
	grid-template-columns: auto auto;
}
	.navigation-bar > .links {
		display: flex;
		height: 100%;
		justify-content: flex-end;
		align-items: center;
		padding-right: 10px;
	}
		.navigation-bar > .links > a {
			text-decoration: none;
			margin: 10px;
			padding: 10px 15px;
			border-radius: 15px;
			border: 2px solid var(--accent-color);
		}
		.navigation-bar > .links > a:hover {
			background-color: var(--page-color);
		}
		.navigation-bar > .links > .active {
			background-color: var(--page-color);
			text-decoration: underline;
		}

.navigation-dropdown > .dropdown-links {
	display: grid;
	grid-template-columns: 1fr;
	border-top: 2px solid black;
}
	.navigation-dropdown > .dropdown-links > a {
		text-decoration: none;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		background-color: rgba(66, 152, 195, .5);
		border-bottom: 2px solid black;
		padding: 25px 0;
	}
	.navigation-dropdown > .dropdown-links > a:hover {
		background-color: rgba(66, 152, 195, .3);
	}
	.navigation-dropdown > .dropdown-links > .active {
		background-color: var(--accent-color);
		text-decoration: underline;
	}

.wrapper > .main-image {
	margin: 10px 0;
	width: 100%;
}

.wrapper > .content {
	display: grid;
	grid-template-columns: auto auto;
}
	.wrapper > .content > .side-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		font-size: 1.1em;
		border: 2px solid var(--accent-color);
		border-left: none;
		border-radius: 0 25px 25px 25px;
	}
		.wrapper > .content > .side-content > span {
			font-size: 1.2em;
			text-decoration: underline;
		}
		.wrapper > .content > .side-content img {
			max-width: 75px;
			max-height: 75px;
			padding: 20px 0;
		}
	.wrapper > .content > .main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
